In [1]:
import os
import sys
import numpy as np 
import pandas as pd

In [2]:
class ARGS():
    pass

args = ARGS()

In [3]:
sacct_df = pd.read_fwf(f'sacct.txt').iloc[1:].reset_index(drop=True)
sacct_df['ElapsedRaw'] = sacct_df['ElapsedRaw'].apply(lambda x: float(x) / (60 * 60)) # seconds to hours
# sacct_df

In [4]:
ksu_df = []
for idx, row in sacct_df.iterrows():
    try:
        jobid = row['JobID'].split('_')[0]
        array_id = row['JobID'].split('_')[-1]
        ksu = (row['ElapsedRaw'] * int(row['AllocTRES'].split(',')[0].split('=')[-1])) / 1000
        df = pd.DataFrame({
            'JobID':[jobid],
            'arrayID':[array_id],
            'kSU':[ksu]
        })
        ksu_df.append(df)
    except:
        pass

ksu_df = pd.concat(ksu_df)
ksu_df

      JobID  arrayID           kSU
0   5797586  5797586  1.638889e-05
0   5857825  5857825  2.305556e-05
0   5857829  5857829  1.006111e-03
0   5860134  5860134  2.777778e-07
0   5860142  5860142  2.777778e-07
..      ...      ...           ...
0   6133262       25  2.154486e-01
0   6133262       26  1.764472e-01
0   6133262       27  8.580417e-02
0   6133262       28  2.056111e-01
0   6133262       29  3.557472e-01

[651 rows x 3 columns]

In [13]:
ksu_df[ksu_df['JobID'] == '6051189']['kSU'].sum()

1.8763597222222221

In [16]:
# estimating for overlapping SBM

billing = 12 # 50G, at least
hours = 2 * 24 # days * hours, at least
kSU = hours * billing / 1000
kSU *= 30 # 30 sessions
kSU

17.279999999999998